$fuente-principal: Poppins, sans-serif;
$fuente-secundaria: 'Source Sans 3', sans-serif;

$color-azul: #5d5a88;
$color-fucsia1: #ff3f8f;
$color-fucsia2: #ff75ae;
$color-gris1: #737373;
$color-gris2: #e4e3f2;
$color-gris3: #747575;
$color-gris4: #c3c3c3;
$color-select: #6d5555;
$color-icon: #f3f3f3;
$color-navbar: #474747;
$color-menu: #6c757d;
$color-transparente: rgba(255, 255, 255, 0);
$hr-color1: rgba(161, 160, 160, 0.24);
$hr-color2: #858585;
